<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="云购商城，一个有态度的商城。"/>
    <meta name="keywords" content="云购商城"/>
    <title>云购商城 - 有态度的商城</title>
    <link rel="stylesheet" type="text/css" href="/static/home/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/home/css/index.css"/>
	<script src="/static/home/js/jquery-1.12.1.min.js"></script>
	<script src="/static/home/js/jquery.cookie.js"></script>
	<script src="/static/home/js/common.head.js"></script>
</head>
<body>
	
{include file="Index/head"}

<div class="g-body">
    <div class="m-index" module="mall/index/Index">
        <div class="m-index-promotion" id="indexPromotion">
            <div class="w-fade">
                <div class="w-fade-wrap" pro="wrap">
                    <ul class="w-fade-wrap-list" pro="list">
                        <li pro="item" class="w-fade-wrap-list-item" data-statistics="">
                            <a href="javascript:;" title="" target="_blank" style="background-image: url(/static/home/images/0-0.jpg); background-color: none;"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-index-category">
			{foreach $goods_data as $val}
			<div class="g-wrap">
				<div class="m-index-category-hd">
					<h3 class="m-index-category-hd-title">{$val.cat_name}</h3>
					<a class="m-index-category-hd-more" href="/list/1-0-0-0.html">
						<span style="vertical-align: middle;">查看全部</span>
						<i class="ico"></i>
					</a>
				</div>
				<div class="m-index-goods-category f-clear">
					<div class="m-index-category-promotion">
						<a href="/list/1-0-0-0.html" target="_blank">
							<img src="/static/home/picture/lists-1.png">
						</a>
					</div>
					<ul class="m-index-category-goods f-clear">
						{foreach $val['items'] as $v}
						<li class="m-index-category-goods-item">
							<div class="w-mall-goods">
								<div class="w-mall-goods-pic">
									<a href="/goods/3748899.html" target="_blank" title="">
										<img src="/uploads/{$v.image}" width="200" height="200" alt="">
									</a>
								</div>
								<div class="w-mall-goods-price">
									<span class="w-mall-goods-price-discount"><span class="w-mall-goods-price-discount-unit">￥</span>{$v.price}</span>
								</div>
								<div class="w-mall-goods-name"><a href="/goods/3748899.html" target="_blank" title="">{$v.goods_name}</a></div>
								<div class="w-mall-goods-desc">{$v.summary}</div>
							</div>
						</li>
						{/foreach}							
					</ul>
				</div>
			</div>	
			{/foreach}
        </div>
    </div>
</div>


<div class="g-footer">
    <div class="m-copyright" id="footerCopyright">
        <div class="g-wrap">
            <div class="m-copyright-txt ">
                <p>Copyright © 2014 - 2016, 云购商城 版权所有 
<a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备12039896号-5</a>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b683ac331274c68b37d23323bf1ecb9e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<meta name="baidu-site-verification" content="9dtMsdkInW" />
</p>
				<p>
					<a href="/help/contactus.html" target="_blank">联系我们</a>
					<a href="/help/statement.html" target="_blank">隐私声明</a>
					<a href="/help/secure.html" target="_blank">安全支付</a>
					<a href="/help/genuine.html" target="_blank">正品保障</a>
					<a href="/links.do" target="_blank">友情链接</a>
				</p>
             </div>
        </div>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="/static/home/css/pagedialog.css" />
<script language="javascript" type="text/javascript" src="/static/home/js/pagedialog.js"></script>
<div class="pageDialogBG" id="pageDialogBG"></div>
<div class="pageDialogBorder" id="pageDialogBorder"></div>
<div class="pageDialog" id="pageDialog">
	<div class="pageDialogClose" id="pageDialogClose" title="关闭"></div>
	<div class="pageDialogMain" id="pageDialogMain"> </div>
</div>
</div>
</body>
</html>