<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="云购商城，一个有态度的商城。"/>
    <meta name="keywords" content="云购商城"/>
    <title>云购商城 - 有态度的商城</title>
    <link rel="stylesheet" type="text/css" href="/static/home/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/home/css/index.css"/>
	<script src="/static/home/js/jquery-1.12.1.min.js"></script>
	<script src="/static/home/js/jquery.cookie.js"></script>
	<script src="/static/home/js/common.head.js"></script>
</head>
<body>

{include file="Index/head"}

<link rel="stylesheet" type="text/css" href="/static/home/css/content.css"/>
<link rel="stylesheet" type="text/css" href="/static/home/css/search.css"/>
<div class="g-body">
        <div class="g-wrap">
             <div class="m-list-filter f-clear">
                <div class="m-list-filter-title">商品排序：</div>
                <div class="m-list-filter-sort ">
					<a href="/lists/search.do?key=iph&sort=0">人气</a>
                </div>
                <div class="m-list-filter-sort ">
					<a href="/lists/search.do?key=iph&sort=1">销量</a>
				</div>
                <div class="m-list-filter-sort ">
					<a href="/lists/search.do?key=iph&sort=3">新品</a>
				</div>
                <div class="m-list-filter-sort " >

					<i class="ico ico-arrow ico-arrow-bottom"></i>
											 <a href="/lists/search.do?key=iph&sort=4">价格</a>
					                    <i class="ico ico-arrow ico-arrow-top "></i>
                    <i class="ico ico-arrow ico-arrow-bottom "></i>
                </div>
            </div>
            <ul class="m-list-goods f-clear">

				{foreach $goods as $val}
				<li class="m-list-goods-item">
					<div class="w-mall-goods">
						<div class="w-mall-goods-pic">
							<a href="/index.php/index/index/article?id={$val.goods_id}" target="_blank" title="{$val.goods_name}">
								<img src="/uploads/{$val.image}" width="200" height="200" alt="{$val.goods_name}">
							</a>
						</div>
						<div class="w-mall-goods-price">
							<span class="w-mall-goods-price-discount">
								<span class="w-mall-goods-price-discount-unit">￥</span>{$val.price}								</span>
						</div>
						<div class="w-mall-goods-name">
							<a href="/index.php/index/index/article?id={$val.goods_id}" target="_blank" title="{$val.goods_name}">{$val.goods_name}</a>
						</div>
						<div class="w-mall-goods-desc">{$val.summary}</div>
					</div>
				</li>
				{/foreach}
									
			</ul>
        </div>
    </div>
</div>

<div class="g-footer">
    <div class="m-copyright" id="footerCopyright">
        <div class="g-wrap">
            <div class="m-copyright-txt ">
                <p>Copyright © 2014 - 2016, 云购商城 版权所有 
<a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备12039896号-5</a>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b683ac331274c68b37d23323bf1ecb9e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<meta name="baidu-site-verification" content="9dtMsdkInW" />
</p>
				<p>
					<a href="/help/contactus.html" target="_blank">联系我们</a>
					<a href="/help/statement.html" target="_blank">隐私声明</a>
					<a href="/help/secure.html" target="_blank">安全支付</a>
					<a href="/help/genuine.html" target="_blank">正品保障</a>
					<a href="/links.do" target="_blank">友情链接</a>
				</p>
             </div>
        </div>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="/static/home/css/pagedialog.css" />
<script language="javascript" type="text/javascript" src="/static/home/js/pagedialog.js"></script>
<div class="pageDialogBG" id="pageDialogBG"></div>
<div class="pageDialogBorder" id="pageDialogBorder"></div>
<div class="pageDialog" id="pageDialog">
	<div class="pageDialogClose" id="pageDialogClose" title="关闭"></div>
	<div class="pageDialogMain" id="pageDialogMain"> </div>
</div>
</div>
</body>
</html>