.g-body {
    background-color: #f6f6f6;
}

.m-list {
}

.m-list-promotion {
    margin-top: 30px;
}

.m-list-promotion img {
    display: block;
    width: 1200px;
    height: 360px;
    margin: 0 auto;
}

.m-list-filter {
    height: 44px;
    margin-top: 30px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
}

.m-list-filter div {
    float: left;
    padding: 0 20px;
}

.m-list-filter-sort {
    position: relative;
}

.m-list-filter-sort a {
    color: #333333;
    text-decoration: none;
}

.m-list-filter-sort-select a {
    color: #f60;
}

.m-list-filter-sort .ico-arrow {
    position: absolute;
    left: 55px;
    width: 9px;
    height: 5px;
}

.m-list-filter-sort .ico-arrow a {
    display: block;
    width: 100%;
    height: 100%;
}

.m-list-filter-sort .ico-arrow-top {
    top: 15px;
    background: url(../images/e7c6c0c388f1d20de125d26e00a990cf8d63e20e.png) -170px -140px no-repeat;
}

.m-list-filter-sort .ico-arrow-bottom {
    top: 23px;
    background: url(../images/e7c6c0c388f1d20de125d26e00a990cf8d63e20e.png) -170px -130px no-repeat;
}

.m-list-filter-sort .ico-arrow-top-active {
    background: url(../images/e7c6c0c388f1d20de125d26e00a990cf8d63e20e.png) -180px -140px no-repeat;
}

.m-list-filter-sort .ico-arrow-bottom-active {
    background: url(../images/e7c6c0c388f1d20de125d26e00a990cf8d63e20e.png) -180px -130px no-repeat;
}

.m-list-goods {
    margin-top: 30px;
}

.m-list-goods-item {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
}
.m-list-goods-item:nth-child(5n){
    margin-right: 0;
}
.m-list-goods-item-rowLast {
    margin-right: 0;
}

.m-list-goods-empty {
    height: 552px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.m-list-goods-empty p {
    text-align: center;
}

.m-list-pager {
}

.m-list-pager .w-pager {
    float: right;
}